# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.gpxenv/
venv_osm_finder/

# OS junk
.DS_Store
Thumbs.db

# Output files
*.xlsx
*.html
# But do track example files
!example*.xlsx
!example*.html

# Logs
*.log
